.checkout-page {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.checkout-products , .checkout-info {
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  margin: 2%;
  padding: 2%;
  width: 60%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 2px 0px
}

.product-checkout{
  border-bottom: 1px solid lightgray;
  padding: 5%;
}

.product-checkout:first-child {
  border-top: 1px solid lightgray;
} 

.final-product-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2%;
  font-size: 1.2rem;
  font-weight: 500;
}

.checkout-price {
  font-weight: 300;
}

.product-info-checkout {
  width: 500px;
}

.checkout-info input {
  height: 1.8rem;
  margin: 0.8rem;
  width: 40%;
  padding: 12px 10px;
  font-size: 1rem;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid black;
}

.checkout-info input:focus {
  transition: 0.2s ease-in;
  color: black;
  border-radius: 2px;
  border-color:  #3483FA;
}

.checkout-info button{
  background-color: transparent;
  color: #3483FA;
  font-weight: 900;
  font-size: 1rem;
  margin-top: 1rem;
  border: none;
  border-radius: 6px;
  padding: 0 24px;
  line-height: 48px;
}

.checkout-info button:hover {
  background-color: rgb(30, 109, 255, 0.3);
  transition: 0.2s ease-in 
}

.checkout-page h3 {
  color: black;
  padding-bottom: 5%;
}