.detailed-view-page {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.card-info-details {
  background-color: white;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.15) 0 1px 2px 0;
  display: flex;
  flex-direction: column;
  margin: 2%;
  padding: 2%;
  width: 90%;
}

.shopping-cart-link {
  display: flex;
  justify-content: center;
  padding: 2rem;
  position: absolute;
  right: 0;
  width: 50%;
}

.shopping-cart-link button {
  background-color: #3483fa;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 0.8rem;
  margin-top: 1rem;
  padding: 0.7rem;
  text-transform: uppercase;
}

.shopping-cart-link button:hover {
  background-color: #2968c8;
  color: white;
}

.shopping-cart-link button:focus {
  background-color: #82a5db;
  color: white;
}
