.detailed-view-page {
  display: flex;
  flex-direction: column;
}

.card-info-details {
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.card-info-details img {
  border: burlywood solid 1px;
  margin: 3em;
  padding: 1em;
}

.card-info-details img:hover {
  border: white solid 1px;
  box-shadow: 2px 3px 10px burlywood;
}

.shopping-cart-link {
  display: flex;
  justify-content: flex-end;
  padding: 2rem;
}

.shopping-cart-link button {
  font-size: 1rem;
  padding: 1rem;
}
