.Product-List {
  display: flex;
  justify-content: space-around;
  margin: 0;
}

.Product-List ul li {
  border: 1px solid;
  list-style: none;
  margin: 5px;
  padding: 5px;
}

.Product-List ul li:hover {
  background-color: gray;
  color: aliceblue;
}
