.left-side {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 0;
}

.categories-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}

.right-side {
  display: flex;
  flex-direction: column;
}

.categories-list button {
  width: 200px;
  border: none;
  background-color: white;
  margin: 10px;
  text-align: justify;
}

button:hover {
  background-color: rgb(241, 241, 116);
}

