.shopping-cart-page {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.shopping-cart-items-container {
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  margin: 2%;
  padding: 2%;
  width: 50%;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 2px 0px
}