body {
  box-sizing: border-box;
  overflow-x: hidden;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media ( prefers-reduced-motion : no-preference ) {

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  align-items: center;
  background-color: #fff159;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  height: 100px;
  position: relative;
  z-index: 0;
}

button {
  font-family: Lato , sans-serif;
}

/* csslint ignore:start */
button:hover {
  color: black;
  cursor: pointer;
  outline: none;
}

button:focus , input:focus {
  outline: none;
}

/* csslint ignore:end */
.logo {
  left: 4%;
  position: absolute;
}

.cart-icon {
  position: absolute;
  right: 4%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
