body {
  background-color: #e7e7e7;
  font-family: -apple-system , BlinkMacSystemFont , Roboto , Oxygen , sans-serif;
  margin: 0;
  width: 100vw;
}

div , p , a , input , h1 , h2 , h3 , h4 , h5 , li {
  color: #333;
  font-family: Lato , sans-serif;
  list-style: none;
  text-decoration: none;
}

code {
  font-family: source-code-pro , Menlo , Monaco , Consolas , Courier New , monospace;
}
